@import "../../../base/mixin";

.searchBarWrap {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 1rem;
    padding: 30px 0 5px;
    gap: 1rem;
    
    @include Medium {
        gap: .5rem;
    }

    .searchLabel {
        color: #fff;
    }
}