@import "../../../base/mixin";

.searchBarWrap {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: end;
    align-items: end;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 30px 30px 5px;
    
    @include Medium {
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
    }

    .searchLabel {
        color: #fff;
    }
}