@import "../../base/mixin";

.searchBarWrap {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: end;
    align-items: end;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 30px 30px 5px;
    
    @include Medium {
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
    }

    .searchLabel {
        color: #fff;
    }

    // input {
    //     background-color: #fff;
    //     border-radius: 5px;
    //     padding: 10px 15px;
    // }
}